<select name="events">
    <option value="1">Upcoming Events</option>
    <option value="2">Past Events</option>
</select>

<div id="">
    <table class="">
        <thead>
            <tr class="">
                <th id="">ID</th>
                <th id="">Event</th>
                <th id="">Date</th>
                <th id="">Description</th>
                <th id="">Host</th>
                <th id="">Guest List</th>
            </tr>
        </thead>
        <tbody class="" id="">
            <tr *ngFor="let e of events">
                <td>{{e.eventID}}</td>
                <td>{{e.eventName}}</td>
                <td>{{e.eventDescription}}</td>
                <td>{{e.eventDate}}</td>
                <td>{{e.eventCreator.userID}}</td>
                <td>
                    <li *ngFor="let g of e.userList">
                        <ul>{{g.firstName}} {{g.LastName}}</ul>
                    </li>
                </td>
            </tr>
        </tbody>
    </table>
</div>