<select name="events">
    <option value="1">Upcoming Events</option>
    <option value="2">Past Events</option>
</select>

<div id="">
    <table class="">
        <thead>
            <tr class="">
                <th id="">ID</th>
                <th id="">Name</th>
                <th id="">Date</th>
                <th id="">Description</th>
                <th id="">Host</th>
                <th id="">Guest List</th>
            </tr>
        </thead>
        <tbody class="" id="">
        </tbody>
    </table>
</div>